#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  color: #54C143;
  font-size: 30px;
  text-align: center;
}

img {
  width: 25%;
  min-width: 200px;
  height: auto;
}